PORT=8000
APP_ENV=development
APP_NAME=Election App
SECRET_KEY=123456789
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

# Docker
DOCKER_REGISTRY_USERNAME=
DOCKER_USERNAME=
DOCKER_PASSWORD=

# Database
DB_URL=
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=election_app

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587
